.description {
	margin-top: 70px;

	&__title {
		font-family: "ProximaNova-Bold", Arial, sans-serif;
		margin-bottom: 25px;
		color: #000;
	}

	&__info {
		margin-bottom: 15px;
		color: #010101;
		font-size: 18px;
		line-height: 24px;
	}

	&__scheme {
		padding: 18px 0 36px 0;
		border-right: 1px dotted #c3c3c3;
		border-left: 1px dotted #c3c3c3;
		border-bottom: 1px solid #c3c3c3;
		position: relative;
	}

	&__row {
		@include flexbox(center);
		z-index:10;

		&--content, &--test {
			justify-content: flex-end;
		}
	}

	&__stage {
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		background-color: #0c52fa;
		padding: 18px 15px;
		max-height: 54px;
		margin-bottom: 2px;
		box-sizing: border-box;

		&--brif {
			max-width: 179px;
			padding-bottom: 0;
			padding-top: 8px;
			line-height: 14px;

			& span {
				font-size: 12px;
			}
		}

		&--deal {
			max-width: 170px;
			padding-top: 13px;
			margin-left: 90px;
		}

		&--project {
			max-width: 137px;
			padding-top: 13px;
			margin-left: 179px;
		}

		&--design {
			width: 167px;
			margin-left: 317px;
		}

		&--html {
			width: 195px;
			padding-top: 18px;
			margin-left: 484px;
		}

		&--code {
			width: 300px;
			padding-top: 18px;
			margin-left: 597px;
		}

		&--content {
			width: 500px;
			line-height: 14px;

			& span {
				font-size: 12px;
			}
		}

		&--add {
			width: 254px;
			margin-left: 46px;

			& span {
				font-size: 12px;
			}
		}

		&--test {
			width: 300px;
		}

		&--consult {
			width: 100%;
			position: relative;
			background-image: url(../img/arrow.png);
			background-position: 237px 21px;
			background-repeat: no-repeat;
		}
	}

	&__notice {
		font-size: 14px;
		line-height: 24px;
		background: #f7f7f7;
		padding: 27px 25px 36px 23px;
		max-width: 279px;
		position: absolute;
		bottom: 0;
		right: -296px;
		box-sizing: border-box;
	}

	&__pay {
		@include flexbox(flex-start);
		justify-content: flex-end;
		margin-top: 25px;
		margin-bottom: 75px;

		&-item {
			font-size: 16px;
			line-height: 22px;
			color: #202020;
			position: relative;
			
			&--first {
				margin-right: 230px;
			}

			&--second {
				margin-right: 120px;
			}

			&--third {
				margin-right: 150px;
			}

			&:last-child {
				margin-right: 0;
			}

			&::after {
				content: "";
				width: 1px;
				height: 560px;
				border-left: 1px dotted #bfbfbf;
				position: absolute;
				bottom: 38px;
				left: 0;
				z-index: -999;
			}

			&:last-child::after {
				display: none;
			}
		}
	}
}