.description {
	margin-top: 97px;

	&__title {
		font-family: "ProximaNova-Bold", Arial, sans-serif;
		margin-bottom: 25px;
		color: #000;
	}

	&__info {
		margin-bottom: 15px;
		color: #010101;
		font-size: 18px;
		line-height: 24px;
	}
}